.photo-gallery-api {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    justify-content: center; 
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  