.warning-message-section {
    background-color: orange;
    width: 66.67%; 
    padding: 10px; 
    border-radius: 5px; 
    margin: 0 auto; 
    text-align: center;
}

.hide-warning-message {
    display: none;
}